/* styles.css - Ce fichier contient les styles CSS pour l'application */

@font-face {
  font-family: "SegoeUI";
  src: local("Segoe UI Light"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "SegoeUI";
  src: local("Segoe UI Semilight"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "SegoeUI";
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SegoeUI";
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SegoeUI";
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

:root {
  --primary-color: #0f6cbd;
  --gray-color: #efeef4;
  --text-color: #333;
  --border-color: #d1d1d1;
  --console-bg: #1e1e1e;
  --console-text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SegoeUI", sans-serif;
}

body {
  background-color: var(--gray-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh; 
  position: relative;
  overflow: hidden;
  margin: auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 15px;  
  padding-left: 10%;
  padding-right: 10%;
  transition: all 0.3s ease-in-out;
}

.console-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;  
  border-bottom: 1px solid var(--border-color);
}

.serial-connection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reload-button {
  margin-left: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.reload-button:hover {
  background-color: #45a049;
}

.reload-button i {
  margin-right: 6px;
}

#baudrate-select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: white;
}

.console-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 95vh;
}

.commands-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.console-header h2 {
  font-weight: 600;
  color: var(--text-color);
}

#serial-messages-container {
  flex: 1;
  background-color: var(--console-bg);
  color: var(--console-text);
  padding: 15px;  
  overflow-y: auto;
  max-height: auto; /* Limitation de la hauteur */
}

.message {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
}

.action-buttons {
  background-color: white;
  padding: 15px;  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;  
}

.commands-section-panel {
  position: absolute;
  top: 0;
  right: -35%;
  width: 35%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 10;
  padding: 15px;  
  overflow-y: auto;
}

.commands-section {
  display: flex;
  flex-direction: column;
  gap: 15px;  
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;  
  padding-bottom: 8px;  
  border-bottom: 1px solid var(--border-color);
}

.common-commands {
  display: flex;
  gap: 8px;  
  flex-wrap: wrap;
}

.input-container,
.input-container-cmd {
  display: flex;
  gap: 8px;  
}

#command-input {
  flex: 1;
  padding: 8px;  
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
}

.btn {
  padding: 8px 16px;  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.btn.primary {
  background-color: var(--primary-color);
  color: white;
}

.btn.secondary {
  background-color: var(--gray-color);
  color: var(--text-color);
}

.btn:hover {
  opacity: 0.9;
}

.toggle-container,
.toggle-container-cmd {
  display: flex;
  align-items: center;
  gap: 8px;  
}

.toggle-container input[type="checkbox"] {
  width: 16px;  
  height: 16px;  
  cursor: pointer;
}

.toggle-btn {
  font-size: 14px;
  color: var(--text-color);
  cursor: pointer;
}

.toggle-btn-cmd {
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.toggle-container-cmd.active {
  background-color: var(--primary-color);
  color: white;
}

.toggle-container-cmd input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-container-cmd {
  padding: 8px 16px;  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--gray-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.toggle-btn-cmd:hover {
  opacity: 0.9;
}

.hidden-buttons {
  display: flex;
  gap: 5px;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
}

/* Classes pour les couleurs ANSI */
.ansi-black {
  color: #000000;
}
.ansi-red {
  color: #ff0000;
}
.ansi-green {
  color: #00ff00;
}
.ansi-yellow {
  color: #ffff00;
}
.ansi-blue {
  color: #0000ff;
}
.ansi-magenta {
  color: #ff00ff;
}
.ansi-cyan {
  color: #00ffff;
}
.ansi-white {
  color: #ffffff;
}
.ansi-bright-black {
  color: #808080;
}
.ansi-bright-red {
  color: #ff5555;
}
.ansi-bright-green {
  color: #55ff55;
}
.ansi-bright-yellow {
  color: #ffff55;
}
.ansi-bright-blue {
  color: #5555ff;
}
.ansi-bright-magenta {
  color: #ff55ff;
}
.ansi-bright-cyan {
  color: #55ffff;
}
.ansi-bright-white {
  color: #ffffff;
}
.ansi-black,
.ansi-red,
.ansi-green,
.ansi-yellow,
.ansi-blue,
.ansi-magenta,
.ansi-cyan,
.ansi-white,
.ansi-bright-black,
.ansi-bright-red,
.ansi-bright-green,
.ansi-bright-yellow,
.ansi-bright-blue,
.ansi-bright-magenta,
.ansi-bright-cyan,
.ansi-bright-white {
  font-family: "Courier New", Courier, monospace;
}

/* Panel Selector Styles */
.panel-selector {
  position: relative; 
  width: 100%;
  cursor: pointer;
  user-select: none;
  overflow: visible;
}

.selected-panel {
  background-color: white;
  color: black;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px 10px 0 0;
}

.panel-selector.open .selected-panel {
  background-color: var(--gray-color);
  color: black;
  border-radius: 10px 10px 0 0;
}

.selected-panel:after {
  content: '\f107';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-left: 10px;
  transition: transform 0.3s;
  border-radius: 0 0 10px 10px;
}

.panel-selector.open .selected-panel:after {
  transform: rotate(180deg);
}

.panel-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--gray-color); 
  border-radius: 0 0 10px 10px;
  z-index: 100;
  display: none;
}

.panel-selector.open .panel-dropdown {
  display: block;
}

.panel-option {
  color: black;
  padding: 10px 15px;
  transition: background-color 0.2s, color 0.2s;
}

.panel-option:hover {
  background-color: #dedde3;
}

.panel-option.hidden {
  display: none !important; 
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.panel-content.hidden {
  display: none;
}

/* LoRa Configuration Section */
.lora-configuration {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.lora-configuration h3 {
  margin-bottom: 12px; 
  font-size: 16px;
  color: #333;
}

.input-container {
  margin-bottom: 12px; 
  display: flex;
  flex-direction: column;
}

.input-container-cmd {
  display: flex;
  padding: 12px;
  /* background-color: #f8f8f8; */
  border-top: 1px solid var(--border-color);
  gap: 8px; 
}

.input-container label,
.input-container-cmd label {
  font-size: 13px; 
  margin-bottom: 4px; 
  color: #555;
}

.input-container select,
.input-container input[type="text"] {
  padding: 7px;
  font-size: 13px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-container-cmd input[type="text"] {
  padding: 7px; 
  font-size: 13px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.input-container input[type="range"] {
  padding: 7px 0;  
  font-size: 13px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.input-container input[type="range"] {
  width: 100%;
}

.input-container span,
.input-container-cmd span {
  margin-top: 4px;  
  font-size: 12px;
  color: #666;
}

.btn.primary {
  padding: 8px 14px;  
  font-size: 13px;  
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.primary:hover {
  background-color: #0056b3;
}

#lora-power-value {
  font-weight: bold;
  color: black;
  font-size: 14px;  
}

.lora-preview-container {
  display: flex;
  flex-direction: row;
  gap: 8px;  
  align-items: center;
}

.command-preview {
  flex-grow: 1;
  padding: 8px;  
  font-size: 13px;  
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lora-toggle-btn {
  position: fixed;
  top: 10%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 12px 15px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: right 0.3s ease-in-out, background-color 0.3s;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  min-height: 100px;
  min-width: 35px;
}

.lora-toggle-btn:hover {
  background-color: #0d5ca3;
}

.lora-toggle-btn i {
  margin-right: 6px;  
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: auto;
  }

  .console-container,
  .commands-container {
    width: 100%;
  }

  .page-container {
    width: 100% !important;
    padding: 10px; 
  }

  .commands-section-panel {
    width: 75%;
    right: -75%;
  }

  .lora-toggle-btn.panel-open {
    right: 75%;
  }
}

/* Snackbar Styles */
#snackbar {
  visibility: hidden;
  min-width: 220px;  
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: #d1d1d1 0px 0px 5px;
  border-radius: 2px;
  padding: 12px;  
  position: fixed;
  z-index: 1;
  left: 20px;  
  bottom: 20px;  
  font-size: 15px;  
}

#snackbar.auto-close {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

#snackbar button {
  margin-left: 8px;  
  padding: 6px 12px;  
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;  
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 20px;  
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 20px;  
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 20px;  
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.hidden {
  display: none;
}
